@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    color: #1E1E1E;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    padding: 5px 0;
}
header img{
    height: 70px;
}
header nav{
    display: flex;
    gap: 80px;
}
header nav a{
    text-decoration: none;
    color: #474646;
    font-size: 1.3rem;
}
header nav a i{
    margin-right: 10px;
}
header nav a:hover{
    color: #FFCC00;
}
main .conteiner-outdoor{ 
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.conteiner-outdoor .conteiner-tags{
    display: flex;  
    justify-content: center;
    gap: 10%;
}
.conteiner-outdoor .conteiner-tags p{
    margin-top: 20px;
    background-color: #FFCC00;
    padding: 2px 10px;
    border-radius: 24px;
    font-size: 1.5rem;
    color: white; 
}
.conteiner-mainText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteiner-mainText h1{
    color: white;
    font-size: 3.2rem;
    width: max-content;
    text-shadow: 5px 5px 10px black;
}
.conteiner-mainText p{
    color: white;
    font-size: 2.5rem;
    width: 90%;
    text-align: center;
    font-weight: 300;
}
/* quem somos */
main .conteiner-sobrenos{
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.conteiner-sobrenos h1{
    font-size: 3rem;
}
.conteiner-sobrenos .conteiner-subCards{
    margin: 50px 0;
    display: flex;
    gap: 10%;
}
.conteiner-sobrenos .conteiner-subCards .subcard{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: #F7F6F6;
    width: 302px;
    box-shadow: 0 3px 5px rgb(187, 187, 187);
    height: 150px;
    padding: 10px;
}
.conteiner-sobrenos .conteiner-subCards p{
    text-align: center;
    font-size: 1.5rem;
}
.conteiner-sobrenos .conteiner-subCards p span{
    color: #FFCC00;
    font-size: 2rem;
    font-weight: 600;
}
.conteiner-sobrenos .conteiner-historia{
    width: 65vw;
}
.conteiner-sobrenos .conteiner-historia p{
    font-size: 1.3rem;
    line-height: 35px;
    margin-bottom: 20px;
}
.conteiner-sobrenos .conteiner-historia #texthiddem span{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.conteiner-sobrenos button{
    border: none;
    cursor: pointer;
    background-color: #FFCC00;
    font-size: 1.5rem;
    padding: 5px 20px;
    font-weight: 700;
    border-radius: 14px;
    color: #F7F6F6;
    margin-top: 20px;
    margin-bottom: 60px;
}
/* hapvida parceria */
main .session-parceirias{
    margin: 0px 0;
   
}
main .session-parceirias h2{
    text-align: center;
    font-size: 3rem;
    margin: 0px 0;
}
main .conteiner-parceria{
    margin: 0px auto;
    height: 70vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
    border-bottom: 1px solid gray;
}
main .conteiner-parceria p{
    width: 50vw;
    text-align: center;
    color: #FFCC00;
    font-size: 2rem;
    font-weight: 500;
}
.conteiner-textparceria{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteiner-infos .info p i{
    margin-right: 20px;
    color: red;
}
.conteiner-infos .info p{
    margin: 20px 0;
    padding-left: 130px;
    text-align: start;
    color: #1E1E1E;
    font-weight: 300;
    font-size: 1.2rem;
}
.conteiner-infos .info p span{
    color:#FFCC00;
    font-weight: 700;
    font-size: 1.5rem;
}
/* planos */
main .conteiner-sectionPlanos{
    width: 100vw;
    margin: 100px 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cashout{
    margin-top: 50px;
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    width: 60vw;
}
main .conteiner-sectionPlanos h2{
    text-align: center;
    font-size: 2.5rem;
}
.conteiner-sectionPlanos .conteiner-planos{
    margin-top: 80px;
    display: flex;
    gap: 10%;
}
.conteiner-sectionPlanos .conteiner-planos .plano{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    padding: 20px 10px;
    width: 380px;
    min-height: 60vh;
    height: max-content;
    box-shadow: 0 3px 3px rgba(128, 128, 128, 0.555);
}
.conteiner-sectionPlanos .conteiner-planos .plano h3{
    font-size: 1.5rem;
    font-weight: 300;
}
.conteiner-sectionPlanos .conteiner-planos .plano p{
    background-color: #FFCC00;
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 14px;
    font-size: 1.2rem;
    font-weight: 700;
}
.conteiner-sectionPlanos .conteiner-planos .plano h3 span{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFCC00;
}
.conteiner-sectionPlanos .conteiner-planos .plano  ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.conteiner-sectionPlanos .conteiner-planos .plano  ul li{
    list-style: none;
}
.conteiner-sectionPlanos .conteiner-planos .plano  ul li i{
    color: blue;
}
.conteiner-sectionPlanos .conteiner-planos .plano button{
    border: none;
    background-color: transparent;
}
.conteiner-sectionPlanos .conteiner-planos .plano button i{
    margin-top: 10px;
    font-size: 1.2rem ;
}
/* flor fedorenta */
main .conteiner-flowerinfo{
    margin: 50px  auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 60vh;
    gap: 150px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
main .conteiner-flowerinfo h2{
    font-size: 2.5rem;
    text-align: center;
    color: #FFCC00;
    margin-bottom: 20px;
}
main .conteiner-flowerinfo h3{
    font-family: 'Rouge Script', cursive;
    text-align: center;
    font-size: 3em;
}
main .conteiner-flowerinfo p{
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
}
/* pets */
main .conteiner-petsinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    gap: 100px;
}
.conteiner-petsinfo .conteiner-petText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.conteiner-petsinfo .conteiner-petText h2{
    color: #FFCC00;
    font-size: 2.5rem;
}
.conteiner-petsinfo .conteiner-petText p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
}
.conteiner-petsinfo .conteiner-petText ul{
    list-style: none;
}
.conteiner-petsinfo .conteiner-petText ul li{
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 10px;
    display: flex;
    gap: 10px;
}
.conteiner-petsinfo .conteiner-petText ul li i{
    color: red;
}
/* contatos */
main .conteiner-contatos{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
main .conteiner-contatos h2{
    font-size: 3rem;
}   
main .conteiner-contatos p{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
}
main .conteiner-contatos .contatos{
    display: flex;
    gap: 30px;
}
main .conteiner-contatos .contatos p{
    font-size: 1.5rem;
}
main .conteiner-contatos button{
    border: none;
    background-color: green;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 5px 25px;
    border-radius: 24px;
    margin-top: 20px;
}
main .conteiner-contatos button:hover{
    background-color: rgb(0, 90, 0);
}
/* footer */
footer{
    background-color: #1E1E1E;
    display: flex;
    justify-content: start;
    gap: 20%;
    padding-bottom:20px ;
}
footer img{
    height: 80px;
    margin-left: 100px;
}
.textfooter{
    margin-top: 20px;
}
.textfooter p{
    text-align: center;
    color: #ffffff;
    font-weight: 300;
}